<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Coin predictor</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/agency.css" rel="stylesheet">

  </head>
  <body>
    
    <h3> Coins </h3>
  
    <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th> Coin full name </th>
            <th> Coin </th>
            <th>marketCap</th>
            <th>priceUsd</th>
            <th>totalSupply</th>
            <th>usdVolume</th>
          </tr>
        </thead>
        <tbody>
        {% for c in data %}
            <tr>
                <td>{{ data[c].name }}</td>
                <td>{{ data[c] }}</td>
                <td> {{ data[c].marketCap }} </td>
                <td> {{ data[c].priceUsd }} </td>
                <td> {{ data[c].totalSupply }} </td>
                <td> {{ data[c].usdVolume }} </td>
            </tr>            
        {% endfor %}
          
         </tbody>
    </table>
  </body>
